#root {
  margin: 0
}

.App {
  text-align: center;
}

.navsection{
  background-color: rgba(0, 170, 170, 0.504);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.patientprofile {
margin: 10px 20px;
display: flex;
}

.patientpic{
  width: 40%;
  height: 40%;
  border: solid black 2px;
  border-radius: 50px;
}

.doctorpic{
  width: 20%;
  height: 20%;
  border: solid black 2px;
  border-radius: 50px;
}